# csharp ignore files
*.suo
*_i.c
*_p.c
*_i.h
*.ilk
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.user
*.aps
*.opensdf
*.unsuccessfulbuild
*.mdb
*.mdb.meta
*.pdb
*.pdb.meta
*.DS_Store

.idea/
ipch/
.svn/
.vs/
.vsconfig
bin/
obj/

# Unity
Library/
Temp/
UIFrameWork/*.csproj
UIFrameWork/*.sln
UIFrameWork/Logs
UIFrameWork/obj
UIFrameWork/UserSettings